body {
    font-family: 'Lato', sans-serif;
    
}

.btn-primary{
    background: #E55473;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 35px;
    margin: 50px 240px 0px 245px;
}
.header{
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
}
.banner{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0px 145px;
    
}
.banner .profile-pic{
    width: 500px;
}
.banner-greeting{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 9px 300px 0px 240px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 9px 160px 0px 240px;
}
.features{
    padding: 130px;
    color: #FFFFFF;
    background: #FFFFFF;
    margin: 130px 0;

}
.features-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.features-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.arch{
    display: flex;
    border-radius: 1208px 1216px 3121px 240px;
    
}
.arch1{
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: auto;
    display: inline-flex;
}
.arch2{
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    flex-shrink: 0;
    margin-right: 20px;
    display: inline-flex;
}
.arch3{
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    flex-shrink: 0;
    margin-right: auto;
    display: inline-flex;
}
.arch-title{
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
}
.arch-info{
    text-align: center;
    margin-right: 60px;
    margin-left: 230px;
    text-decoration: underline;
}
.main{
    width: 1922px;
    height: 620px;
}
.deal{
    padding: 30px;
    border-radius: 10px;
    background: #272727;
    margin: 0px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
}
.deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;

}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.sign-up{
    background: #E55473;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 35px;
    margin: 50px 240px 0px 245px;
}
.text-primary{
    color: #E55473;
}
